
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* Baskerville Font */
.timeline .content-wrap{
    align-items:flex-start;
}
.event-body ul{
    display:inline-flex;
}
.event-body,.date {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
/* .event-head{
    display: flex;
} */
.date{
    padding: 1em 5em;
    cursor: pointer;
    background-color: blanchedalmond;
    transition: background-color 0.3s ease-in;
}
.date:hover{
    background-color: rgb(255, 173, 173);
}
.row{
    padding: 1rem 0;
}
.date.active{
    background-color: rgb(212, 93, 93);
}
