.timeline .content-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* .event-date{
  flex: 1;
} */
ul{
  padding: 0%;
}
.event-body ul {
  display: inline-flex;
  width: -webkit-fill-available;
}
.event-date {
  flex: 1;
}
.event-body,
.date,
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline h1{
  font-weight: 700;
  font-size: 2rem;
}
.event {
  list-style: none;
  width: 60vw;
}
#eventList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  flex: 1;
  padding: 1em 0;
  min-width: 130px;
  cursor: pointer;
  background-color: #8b24d43a;
  transition: background-color 0.3s ease-in;
}
.date:hover {
  background-color: rgb(255, 173, 173);
}
.accordion {
  position: relative;
  width: 100%;
  padding: 1rem 0rem 1rem 0.5rem;
}
.accordion div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion span {
  display: none;
  overflow-wrap: normal;
}
.accordion::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #8c24d4;
}
.eventList.hide {
  display: none;
}
.eventList.active {
  display: block;
  /* transition: ; */
}

.date.active {
  position: relative;
  background-color: #8b24d4ce;
}
.date.active::after {
  display: block;
  position: absolute;
  bottom: -8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #8c24d4
}

.accordion > .accordion-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}

.accordion > label {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.accordion > section {
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  transition: 0.3s all;
}
.accordion > .accordion-toggle:checked ~ .gg-chevron-down::after {
  transform: rotate(180deg);
}

.accordion > .accordion-toggle:checked ~ section {
  max-height: 200px;
}

.accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5;
}
