.timeline .content-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient( #f0f0f0, #dfbfa5, #f0f0f0);
  padding: 0;

}
ul{
  padding: 0%;
}
.event-body ul {
  display: flex;
  width: -webkit-fill-available;
}
.event-date {
  flex: 1;
  z-index: 1;
}

.event-body,
.date,
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
.event-body{
  padding: 2rem 0;
  width: 80vw;
  max-width: 950px;
}
.timeline h1{
  font-weight: 700;
  font-size: 2rem;
}
.event {
  list-style: none;
  width: 60vw;
}
#eventList {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date {
  flex: 1;
  padding: 1em 0;
  text-align: center;
  cursor: url("../assets/img/hand-cursor.png"), pointer;
  background-color: #8b24d43a;
  color: var(--color-black);
  transition: background-color 0.3s ease-in;
}
.date-week1::after{
  content: '21st March - 26th March, 2022';
}
.date-week2::after{
  content: '28th March - 2nd April, 2022';
}
.date-week3::after{
  content: '4th April - 6th April, 2022';
}
@media screen and (max-width:700px){
  .date-week1::after{
    content: '21st-26th March';
  }
  .date-week2::after{
    content: '28th March - 2nd April';
  }
  .date-week3::after{
    content: '4th-6th April';
  }
}
.date:hover {
  background-color: rgb(255, 173, 173);
}
.accordion {
  color: var(--color-black);
  position: relative;
  width: 100%;
  padding: 1rem 0rem 1rem 0.5rem;
}
.accordion div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion span {
  display: none;
  overflow-wrap: normal;
}

.accordion::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #8c24d4;
}
.eventList.hide {
  display: none;
}
.eventList.active {
  display: block;
  /* transition: ; */
}

.date.active {
  position: relative;
  background-color: var(--color-one);
}
.date.active::after {
  display: block;
  position: absolute;
  bottom: -8px;
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--color-one);
}

.accordion > .accordion-toggle {
  position: absolute;
  opacity: 0;
  display: none;
}
.date.active{
  color: var(--color-white);
}
.accordion > label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.accordion > section {
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  transition: 0.3s all;
}
.accordion a{
  cursor: url("../assets/img/cursor.png"),auto;
}
label>.gg-chevron-down::after {  
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}
.accordion > .accordion-toggle:checked ~ label>.gg-chevron-down::after {
  transform: rotate(225deg);
  /* transition: transform 0.5s ease; */
}

.accordion > .accordion-toggle:checked ~ section {
  max-height: 600px;
}

.accordion > section > p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.5;
}
.timeline>.bgText{
  top: 35vh;
  right: 0;
}
.timeline>.bgText{
  display: flex;
  flex-wrap: wrap;
}
.timeline>.bgText>span{
  display: flex;
}
.timeline>.bgText>span>div{
  font-size: 9rem;
}

@media only screen and (max-width: 480px){
  .timeline-one{
    width: 50%;
  }
  .event, .event-body{
    width: 90vw;
  }
}