/* ******INDEX******
1. Import
2. Initialization
3. Navigation Bar CSS
4. First section CSS
5. Time left CSS
6. About section CSS
7. Events card CSS
8. Speakers CSS (Scss compiled)
9. Timeline CSS
10. Sponsors CSS
11. Map CSS
12. Footer CSS
*/
/* **************************************************************** */

/* ||Import|| */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Montserrat:wght@200;300;400;500&display=swap');
@import "vars_og.css";
/* ||End Import|| */
/* ||Initialization */
* {
  margin: 0;
  /* border: 0.5px solid red;  */
}
*::before,
*::after {
  content: '';
  margin: 0;
  padding: 0;
  line-height: 2.5rem;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: droid-serif,serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #1c1c1c;
  overflow-x: hidden;
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none;
  cursor: url("../assets/img/cursor.png"),auto;
}
html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-light);
  border-radius: 0.5rem;
}
.gradient-text {
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
  font-size: 32px;
  /* Fallback color. */
  background-color: var(--color-five);
  /* the gradient. */
  background-image: linear-gradient(
    45deg,
    var(--color-four),
    var(--color-one),
    var(--color-two),
    var(--color-five)
  );

  /* background size and repeat properties. */
  background-size: 200%;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: anim 12s infinite alternate;
}
@keyframes anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.first-section,
.about,
.time,
.events,
.speaker,
.timeline {
  position: relative;
}

.bgText {
  user-select: none;
  font-family: "Hanson", sans-serif;
  color: #213d4e24;
  -webkit-text-stroke: 5px #213d4e24;
  -webkit-text-fill-color: transparent;
  letter-spacing: 10px;
  position: absolute;
  text-transform: uppercase;
  font-size: 12rem;
}
/* @media screen and (max-width: 1000px){
  .bg-text{
    
  }
} */
.content-wrap::before,
.content-wrap::after,
.nav-main::before,
.nav-main::after,
.speaker-content .auto-grid::before,
.speaker-content .auto-grid::after,
.accordion>label::before,
.accordion>label::after,
.card::before,
.card::after,
nav::before,
nav::after,
.eventList::before,
.eventList::after,
.container_infos::before,
.container_infos::after {
  display: none;
}
@media only screen and (max-width: 720px) {
  .bgText {
    -webkit-text-stroke: 2px;
    font-size: 2rem;
    right: 0;
  }
}
.font-big{
  font-size: 1.5em;
}
/* ||End Initialization|| */

/* ||Navigation Bar CSS|| */
nav {
  font-family: "Hanson", sans-serif;
  font-weight: 800;
  font-size: 18px;
  box-shadow: 2rem var(--color-black);
  position: fixed;
  width: 100vw;
  height: 80px;
  line-height: 80px;
  z-index: 999;
}
.nav-colored {
  background-color: var(--nav-bar-light);
  opacity: 1;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.363);
}
.nav-transparent {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-content {
  display: flex;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-head {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.nav-links > a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: ease-in-out 250ms;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.nav-text {
  text-decoration: none;
  padding: 0 2rem;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.glow:hover{
  text-shadow: var(--color-white) 1px 0 10px;
}
.nav-txt-black {
  color: var(--color-black);
}
.nav-txt-white {
  color: var(--color-white);
}
.nav-links .btn-three {
  /* background-color: var(--color-two); */
  transition: all 0.5s;
  position: relative;
}
.nav-links .btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;

  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: scale(1.2, 1.2);
}
.nav-links .btn-three:hover::before {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.363);
  transform: scale(1, 1);
}
.nav-links .btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-size: 200%;
  background-image: linear-gradient(
    45deg,
    var(--color-four),
    var(--color-one),
    var(--color-two)
  );
  animation: anim 25s infinite alternate;
  transition: all 0.3s;
}
.nav-links .btn-three:hover::after {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.nav-links .btn-three:hover{
  /* Fallback color. */
  background-color: var(--color-five);
  /* the gradient. */
  background-image: linear-gradient(45deg,var(--color-four), var(--color-one), var(--color-two), var(--color-five));
  
  /* background size and repeat properties. */
  background-size: 200%;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: anim 15s infinite alternate;
}

.hamburger {
  display: none;
  padding: 0;
  border: none;
  background: none;
}
.hamburger > span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 3px 20px;
  transform-origin: right;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-white);
}
.hamburger span:first-child {
  transform: scaleX(0.5);
  transform-origin: left;
}

.hamburger span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: center center;
}

.hamburger span:last-child {
  transform: scaleX(0.5);
  transform-origin: right;
}
.hamburger.active span:first-child {
  transform: translateX(6px) rotate(45deg) scaleX(0.5);
  background-color: var(--color-white) !important;
}

.hamburger.active span:nth-child(2) {
  transform: rotate(-45deg) scaleX(0.85);
  background-color: var(--color-white) !important;
}

.hamburger.active span:last-child {
  transform: translateX(-6px) rotate(45deg) scaleX(0.5);
  background-color: var(--color-white) !important;
}
.nav-links a::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 3px;
  background: var(--color-black);
  transition: ease-in-out 250ms;
}

.nav-head > p {
  margin-bottom: 0%;
}
.nav-head > p:focus-within::before,
.nav-links > a:focus-within::before {
  transition: 0ms;
}
.nav-head > p:last-child::before,
.nav-links > a:last-child::before {
  width: 0%;
}
.nav-main {
  justify-content: space-around;
  transition: 250ms ease-out;
}
.nav-img {
  box-shadow: var(--color-white);
  width: 50px;
  height: 50px;
  transition: 250ms ease-out;
}
@media screen and (max-width: 400px){
  .nav-img{
    width: 20px;
    height: 20px;
  }
  .nav-text-title{
    font-size: small;
  }
}
.dot {
  width: 7ch;
  height: 6px;
  position: absolute;
  right: 0;
  background: var(--color-black);
  opacity: 0;
  margin-top: 2em;
  transform-origin: center left;
  /* -webkit-transform: translateX(-310px); */
  transform: translateX(-1000px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-links a:nth-child(1):hover ~ .dot {
  transform: translateX(-610px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.nav-links a:nth-child(2):hover ~ .dot {
  width: 8ch;
  transform: translateX(-425px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.nav-links a:nth-child(3):hover ~ .dot {
  transform: translateX(-245px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


@media screen and (max-width: 1000px) {
  nav{
    height: 50px;
  }
  header {
    font-size: 16px;
  }
  .nav-main {
    line-height: 50px;
    margin: 0 5px;
  }
  .nav-links {
    column-gap: 5px;
  }
}
@media only screen and (max-width: 1300px) {
  nav{
    height: 60px;
  }
  .nav-main{
    line-height: 60px;
  }
  .nav-links .btn{
    line-height: 40px;
    height:40px
  }
}
  @media only screen and (max-width: 1110px) {
  .nav-links {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color:transparent;
     /* rgba(221, 221, 221, 0.8); */
    width: 100%;
    line-height: 0.1;
    padding-top: 5rem;
    height: 100vh;
    opacity: 0;
    border-radius: 5px;
    text-align: center;
    transition: right 0.8s cubic-bezier(0.595, 0.03, 0, 0.88),
    opacity 0.5s ease;
  }
  .nav-main {
    justify-content: space-between;
  }
  .nav-links > a {
    color: var(--color-white);
    margin: 2.5rem 0;
  }
  .nav-links.active {
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    /* backdrop-filter: blur(10px); */
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url("../assets/img/hand-cursor.png"),pointer;
  }

  .black-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: -3;
    background: var(--color-black);
    -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .white-layer {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: -5;
    background: var(--color-white);
    -webkit-transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
  }
}
/* ||End Navigation Bar CSS|| */

/* ||First section CSS|| */
.first-section>.content-wrap {
  background: var(--transparent-overlay), url("../assets/img/hero2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.content-wrap {
  padding: 0 10%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.cal-loc{
  display: flex;
  color: white;
  margin-bottom: 2rem;
}
.cal-loc>.cal{
  font-size: 16px;
  padding-left: 0.25rem;
  letter-spacing: 1px;
}
.cal-loc>img , .cal-loc>.loc>img{
  width: 16px;
  height: 20px;
}
.cal-loc>.loc{
  margin-left: 3rem;
  font-size: 16px;
  letter-spacing: 1px;
}
.content-container>.box-3>.btn-three{
  width: 150px;
}
.line {
  position: absolute;
  height: 1px;
  width: 100%;
  right: 0;
  background-color: #ffffff29;
  z-index: 50;
}
.line.first {
  top: 32vh;
}
.line.second {
  top: 70vh;
  right: auto;
  left: 0;
}
.line span {
  /* background-image: linear-gradient(92deg, #f87c57, #f2296f); */
  background: linear-gradient(45deg, var(--color-two), var(--color-five));
  width: 60px;
  height: 3px;
  top: -1px;
  position: absolute;
}
.line.first span {
  animation: line-banner alternate 13s ease-in-out infinite;
  right: 25%;
}
.line.second span:first-of-type {
  animation: line-banner2 alternate 17s ease-in-out infinite;
  left: 20%;
  width: 100px;
}
.line.second span:last-of-type {
  animation: line-banner3 alternate 17s ease-in-out infinite;
  left: 45%;
  width: 30px;
}
@keyframes line-banner {
  100% {
    right: 40%;
  }
}
@keyframes line-banner2 {
  100% {
    left: 35%;
  }
}
@keyframes line-banner3 {
  100% {
    left: 60%;
  }
}
.first-section h1 {
  /* background: -webkit-linear-gradient(0.5turn, #e08a27, #b42dcf); */
  background-clip: var(--horizontal-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-bottom: 2rem;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.btn-three {
  color: var(--color-white);
  transition: all 0.5s;
  position: relative;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.read-more{
  text-decoration: none;
}
@media screen and (max-width:768px){
  .first-section h1{
    font-size: 35px;
  }
  .cal-loc>.cal, .cal-loc>.loc{
    font-size: 14px;
  }
}
@media only screen and(max-width:768px) {
  .first-section .content-wrap {
    padding: 0 1em;
  } 
  .btn-three::before {
    transform: scale(1, 1);
  }
}
/* ||End First section CSS|| */


.vid{
  cursor: url("../assets/img/cursor-white.png"),auto;
  background: linear-gradient( #000000, #1c1c1c, #1c1c1c);
}
#videoDiv {
  padding-top: 1em;
  width:100%; 
  max-width:1200px; 
  margin:auto; 
  display:block; 
  position: relative;
  /* background: linear-gradient( #f0f0f0, #f6e8c0, #f0f0f0); */
} 
#video{
  width:100%; 
  height:auto 
} 
#videoMessage { 
  position: absolute; 
  top: 0; 
  left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}
/* ||Time left CSS|| */
.time{
  cursor: url("../assets/img/cursor-white.png"),auto;
}
.time>.content-wrap{
  background: #1c1c1c;
  color: var(--color-white);
  min-height: 50vh;
}
/* Remaining Time */
.coming-soon__item-wrap,
.main-info-wrap {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}
.main-info-wrap{
  width: -webkit-fill-available;
  justify-content: space-between;
}
.starts-in{
  font-size: 2em;
  font-weight: 600;
}
.text-below{
  color: #909090;
}
.coming-soon__item-wrap .coming-soon__item{
  width: 134px;
  min-height: 130px;
  box-shadow: 0 25px 45px 0 #091e8b;

  background-color: var(--light-color);
  margin: 0 16px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 30px;
}
.coming-soon__item-wrap .coming-soon__item::before {
  content: "";
  background-image: linear-gradient(121deg, #f8047c, #f8047e71);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 3em;
}
@media only screen and (max-width: 1100px) {
  .main-info-wrap {
    flex-direction: column;
  }
  .coming-soon__item {
    font-size: smaller;
  }
  .cal-loc{
    margin-bottom: 1.5re;
  }
}
@media only screen and (max-width: 830px) {
  .coming-soon__item-wrap .coming-soon__item {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .coming-soon__item-wrap {
    flex-wrap: wrap;
  }
}
/* ||End Time left CSS|| */


/* ||About section CSS|| */
.about{
  cursor: url("../assets/img/cursor-white.png"),auto;
}
.about>.content-wrap{
  position: relative;
  gap: 10em;
  /* background: linear-gradient( #f0f0f0, #f6e8c0, #f0f0f0); */
}
.about-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.bg-text{
  position: absolute;
  font-weight: 700;
  font-size: 200px;
  font-family: "Poppins", sans-serif;
  opacity: .4;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b6b6b6;
}
.about-content>.bg-text{
  top: -7rem;
  left: -1.75rem;
}
.about-content>.subtitle{
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #b6b6b6;
}
.about-content>.title{
  font-size: 50px;
  position: relative;
}
.left-to-right-underline{
  padding: 1.25rem 0 5rem 0;

  position: relative;
}
.left-to-right-underline::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1em;
  width: 30%;
  height: 2px;
  background-color: var(--color-two);

  transform: scaleX(0.2);
  transform-origin: left;
  transition: transform-origin 500ms ease-in-out;
}
.left-to-right-underline:hover::after,
.left-to-right-underline:active::after {
  transform-origin: right;
}
.left-to-right-underline::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1em;
  width: 30%;
  height: 2px;
  background-color: rgb(209, 207, 207);
}

.img-1 {
  position: relative;
  top: 150px;
  left: px;
  border: 1px solid var(--color-black);
  z-index: 1;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
.img-2 {
  position: relative;
  top: -100px;
  left: -100px;
  border: 1px solid var(--color-black);
  z-index: 2;
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
.about > .bgText {
  overflow: hidden;
  -webkit-text-stroke-color: #ffffff13;
  top: 10%;
  left: 10%;
}
.time{
  position: relative;
}
.time .left-to-right-underline{
  padding: 1.25rem 0 2rem 0;
}
@media screen and (max-width: 1100px){
  .about>.content-wrap{

    flex-direction: column;
  }
  .about-content {
    padding-top: 5em;
  }
  .about-content>.bg-text{
    top: -1.75rem;
  }
  .left-to-right-underline{
    padding: 1.5rem 0 5rem 0;
  }
  .about-img{

    display: flex;
    justify-content: center;
  }
  .img-1 {
    top: -5em;
  }
  .img-2 {
    display: none;
  }
  .about > .bgText {
    font-size: 7rem;
    top: 25%;
    left: 0;
  }
}
@media screen and (max-width: 450px) {
  .img-1 {
    width: 80%;
    height: 80%;
  }
  .about-content>.title{
    font-size: 45px;
  }
  .left-to-right-underline{
    padding: 1.75rem 0 5rem 0;
  }
}
/* ||End About section CSS|| */

/* ||Events card CSS|| */
.events {
  padding: 4rem 0;
  background: linear-gradient( #f0f0f0, #f6e8c0, #f0f0f0);
  /* background-color: rgba(246, 4, 124, 0.09);
  color: var(--black-bg); */

  position: relative;

}
@media screen and (max-width: 350px){
  .events{
    padding: 0;
  }
}
.events > .content-wrap {
  flex-direction: column;
}
.events>.content-wrap>.bg-text{
  position: absolute;
  opacity: .3;
  line-height: 150px;
  right: 0;
  writing-mode: vertical-rl;
  -webkit-text-stroke-color: #ff4070;
}
.events header{
  text-align: center;
  padding-bottom: 4em;
}
.center-expand-underline {
  padding: 1em 0 2em 0;
  position: relative;
}
.center-expand-underline::after {
  position: absolute;
  content: "";

  left: 0;
  bottom: 0.99em;
  width: 100%;
  height: 3px;
  background-color: var(--color-two);

  transform: scaleX(0.2);
  transform-origin: center;
  transition: transform 500ms ease-in-out;
}
.center-expand-underline:hover::after,
.center-expand-underline:active::after {
  transform: scaleX(0.8);
}
.center-expand-underline::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 1em;
  width: 100%;
  height: 2px;
  background-color: rgb(209, 207, 207);
  transform: scaleX(0.8);
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 6em;
  margin: 0 auto;
  padding-bottom: 2em;
}
@media (min-width: 800px) {
  .card { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1300px) {
  .card { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1900px) {
  .card { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 2200px) {
  .card { grid-template-columns: repeat(5, 1fr); }
}
.events > .bgText{
  font-size: 8rem;
  left:calc(100vw - 5.5rem);
  transform-origin:center left;
  top: 0;
  transform:rotate(90deg);
}
@media screen and (max-width: 1100px) {
  .card {
    flex-direction: column;
    gap: 5em;
    align-items: center;
  }
  .events>.content-wrap>.bg-text{
    top: 33%;
  }
  .events .content-wrap{
    min-height: 1000px;
  }
  .post {
    width: 80%;
  }
}
.events .btn{
  width: 120px;
}
.events .btn-three::before{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.container_infos>.postedBy{
  text-align: center;
}
/* speakers */
/* Globals */
.speaker{
  cursor: url("../assets/img/cursor-white.png"),auto;
}
@media only screen and (max-width: 1100px) {
  .speaker-content {
    padding: 0;
    width: auto;
  }
}
.speaker-content {
  max-width: 55rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}
@media only screen and (max-width: 350px){
  .speaker-content{
    border: 0;
  }
  .speaker .content-wrap{
    padding: 0;
  }
}
.speaker header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.speaker .content-wrap {
  align-items: flex-start;
}
.speaker-content h1 {
  font-weight: 900;
  font-size: 2.7rem;
}
.speaker .team{
  border: 10px solid #b42dcf;
}
.speaker-content p {
  padding-top: 1em;
}
.speaker-content a {
  color: currentcolor;
}
.speaker-content ul {
  list-style-type: none;
}
/* Utilities */
.speaker-content .auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
}

.speaker-content .flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.speaker-content .team {
  --flow-space: 2em;
}

/* Blocks */
.speaker-content .profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: var(--color-white);
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
}

.speaker-content .profile::before,
.speaker-content .profile::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.speaker-content .profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.speaker-content .profile::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.speaker-content .profile > * {
  z-index: 1;
}

.speaker-content .profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.speaker-content .profile h2,
.speaker-content .profile p {
  transform: translateY(2ex);
}

.speaker-content .profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.speaker-content .profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.speaker-content .profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.speaker-content .profile:focus {
  outline: 0.5rem solid var(--color-white);
  outline-offset: -0.5rem;
}

.speaker-content .profile:hover :is(h2, p),
.speaker-content .profile:focus :is(h2, p) {
  transform: none;
}

.speaker-content .profile:hover::after,
.speaker-content .profile:focus::after,
.speaker-content .profile:hover::before,
.speaker-content .profile:focus::before {
  opacity: 0.7;
}

.speaker-content .profile:hover p,
.speaker-content .profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.speaker-content .profile:hover img,
.speaker-content .profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}


/* ||Timeline CSS|| */
/* Add this in later */
/* ||End Timeline CSS|| *
/* ||Sponsors CSS|| */


/* sponsors */
.spons{
  cursor: url("../assets/img/cursor-white.png"),auto;
}
@media screen and (max-width: 750px){
  .spons-box  {
    flex: 0 1 100px;
  }
  .spons-responsive{
    width: 100%;
    height: auto;
    flex: center; 
  }
}
.spons{
  display: flex;
  flex-direction: column;
}
.spons-text
{
  align-items: flex-start;
  margin: 5px auto;
} 
.spons-text h1
{
  text-align: center;
  margin: 5px auto;
  padding: auto;
}
.spons section
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #fff ;
}

.spons-container
{
	height: 100%;
	padding: 15px;
	margin: 40px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-direction: row;
  width: 90vw;
  max-width: 1000px;
	flex-wrap: wrap;
	align-content: center;
	gap: 5px;
}
.spons-box
{
	height: 200px;
  width: 200px;
  margin: 15px;
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	border: 1.5px solid #fff;
	color: #111;
  transition: filter 0.3s ease-in 0.5s;
}
.spons-box:before
{
	content: '';
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 12px);
	background: #1c1c1c;
	transition: 0.3s ease-in-out;
	transform: scaleY(1);
	transition-delay: 0.5s;
}

.spons-box:hover:before
{
	transform: scaleY(0);
}

.spons-box:after
{
	content: '';
	position: absolute;
	left: 6px;
	top: -2px;
	height: calc(100% + 4px);
	width: calc(100% - 12px);
	background: #1c1c1c;
	transition: 0.5s ease-in-out;
	transform: scaleX(1);
}

.spons-box:hover:after
{
	transform: scaleX(0);
}

.spons-box span
{
	position: relative;
	z-index: 3;
  cursor: url("../assets/img/hand-cursor.png"),pointer;
} 
/* ||End Sponsors CSS|| */
  
/* ||Map CSS */
.map{
  padding: 4em 10em;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  background-image: linear-gradient( #f0f0f0, #ffedb1)
}
.map .left-to-right-underline{
  padding: 1.25rem 0 2rem 0;
}
.map-content{
  color: var(--color-black);
  padding-top: 2em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content:flex-start;
}
.map-content-down{
  padding-top: 6em;
  display: flex;
  gap: 2em;
}
@media (max-width:800px){
  .map{
    display: none;
  }
}
@media (max-width:1100px){
  .map-content p{
    display: none;
  }
  .map-content{
    justify-content: center;
  }
}
/* ||End Map CSS|| *
/* footer css */
@media (max-height: 800px) {
  footer {
    position: static;
  }
  footer header {
    padding-top: 40px;
  }
}
.footer-distributed {
  cursor: url("../assets/img/cursor-white.png"),auto;
  background-color: #1c1c1c;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 40px;
  margin: 0 auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: var(--color-white);
  font: normal 36px "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}
footer a{
  cursor: url("../assets/img/hand-cursor-white.png"),pointer;
}
/* Footer links */

.footer-distributed .footer-links {
  color: var(--color-white);
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #1c1c1c;
  color: var(--color-white);
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 18px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--color-white);
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #fff;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--color-white);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}
.footer-bottom{
  padding-top: 3em;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}


@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


#scrollToTopBtn {
  cursor: url("../assets/img/hand-cursor-white.png"),pointer;
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  position: sticky;
  bottom: 20px;
  left: 99%;
}

.scl-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
}
.scl-buttons__button {
  margin: 30px 5px 0;
}
.scl-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 100%;
  background: #1c1c1c;
  text-align: center;
}
.scl-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.scl-button:focus, .scl-button:hover {
  color: #fff;
}
.scl-button:focus::after, .scl-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.scl-button i, .scl-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.scl-button i {
  font-size: 28px;
}
.scl-button svg {
  height: 40%;
  width: 40%;
}
.scl-button--mail {
  color: #0072c6;
}
.scl-button--mail::after {
  background: #0072c6;
}
.scl-button--facebook {
  color: #3b5999;
}
.scl-button--facebook::after {
  background: #3b5999;
}
.scl-button--linkedin {
  color: #0077b5;
}
.scl-button--linkedin::after {
  background: #0077b5;
}
.scl-button--github {
  color: #6e5494;
}
.scl-button--github::after {
  background: #6e5494;
}
.scl-button--codepen {
  color: #212121;
}
.scl-button--codepen::after {
  background: #212121;
}
.scl-button--steam {
  color: #7da10e;
}
.scl-button--steam::after {
  background: #7da10e;
}
.scl-button--snapchat {
  color: #eec900;
}
.scl-button--snapchat::after {
  background: #eec900;
}
.scl-button--twitter {
  color: #55acee;
}
.scl-button--twitter::after {
  background: #55acee;
}
.scl-button--instagram {
  color: #e4405f;
}
.scl-button--instagram::after {
  background: #e4405f;
}
.scl-button--npmjs {
  color: #c12127;
}
.scl-button--npmjs::after {
  background: #c12127;
}
.scl-button--youtube {
  color: #ff3c41;
}
.scl-button--youtube::after {
  background: #ff3c41;
}
@media (max-width: 880px){
  .scl-buttons{
    justify-content: center;
  }
}